In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import os
import numpy as np

file_path = './test_files/3dbloodnewcolors.txt'
df = pd.read_csv(file_path, header=None)
df.columns = ['x', 'y', 'z', 'r', 'g', 'b']
df

             x          y          z    r  g    b
0    15.897575  -9.944930   9.436969  255  0  255
1    15.126414 -10.350229   9.924628  255  0  255
2    14.322758 -10.811392  10.299265  255  0  255
3    13.450273 -11.210674  10.576853  255  0  255
4    12.503754 -11.472693  10.757642  255  0  255
..         ...        ...        ...  ... ..  ...
114   5.546314  -8.355754   6.195095  200  0    0
115   4.608029  -8.621447   6.373613  200  0    0
116   3.948629  -9.093957   6.939815  200  0    0
117   3.512919  -9.556698   7.710643  200  0    0
118   2.848068  -9.826048   8.386191  200  0    0

[119 rows x 6 columns]

In [10]:
def distance_calculator(df):
    # Drop NaN values (usually the first value)
    dx = df['x'].diff()
    dy = df['y'].diff()
    dz = df['z'].diff()

    # Calculate the Euclidean distance between consecutive rows
    distances = np.sqrt(dx**2 + dy**2 + dz**2)
    df['distance_from_last'] = distances
    return df

def remove_overlap(shape):
    # Checks for any large jumps at the end of a line and, if found, moves the last row to the top
    # This hopefully removed the jump and makes the line continuous
    if shape.iloc[-1]['distance_from_last'] > 1.:
        # Move the last row to the top
        last_row = shape.iloc[[-1]]  # Select the last row as a DataFrame
        remaining_rows = shape.iloc[:-1]  # Select all rows except the last
        shape = pd.concat([last_row, remaining_rows]).reset_index(drop=True)

    shape = distance_calculator(shape)
    return shape

df = distance_calculator(df)
df['line_id'] = pd.factorize(df[['r','g','b']].apply(tuple, axis=1))[0]
df_new = df.groupby('line_id').apply(remove_overlap)
df_new = distance_calculator(df_new)

# Next bit is to use hierarchical clustering to note common start / end points

In [12]:
df_new[df_new['line_id'] == 1]

                    x         y          z  r  g    b  distance_from_last  \
line_id
1       17  15.482735 -9.612029   9.522607  0  0  255           13.332754
        18  14.591303 -9.349821   9.891746  0  0  255            0.999833
        19  13.680538 -9.079463  10.203390  0  0  255            0.999854
        20  12.754034 -8.804821  10.460113  0  0  255            0.999872
        21  11.814711 -8.529923  10.664751  0  0  255            0.999887
        22  10.864816 -8.259123  10.820206  0  0  255            0.999899
        23   9.905953 -7.997409  10.929296  0  0  255            0.999907
        24   8.939106 -7.750935  10.994658  0  0  255            0.999907
        25   7.964670 -7.528025  11.018692  0  0  255            0.999896
        26   6.982538 -7.341217  11.003595  0  0  255            0.999854
        27   5.992557 -7.212104  10.951594  0  0  255            0.999718
        28   4.997427 -7.185209  10.866196  0  0  255            0.999150
        29   4.036980 -7.396724  10.746986  0  0  255            0.990660
        30   3.458919 -8.127949  10.410706  0  0  255            0.990923
        31   3.006626 -8.909166   9.981083  0  0  255            0.999723
        32   2.513965 -9.603966   9.460929  0  0  255            0.998009

            line_id
line_id
1       17        1
        18        1
        19        1
        20        1
        21        1
        22        1
        23        1
        24        1
        25        1
        26        1
        27        1
        28        1
        29        1
        30        1
        31        1
        32        1

In [5]:
df_new

Empty DataFrame
Columns: []
Index: []

In [10]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'id': [1, 1, 2, 2, 3, 3],
    'x': [1, 2, 3, 4, 5, 6],
    'y': [7, 8, 9, 10, 11, 12],
    'z': [13, 14, 15, 16, 17, 18]
})

# Define a function to apply to each group
def process_curve(group):
    # Example: calculate the mean of x, y, z for each curve
    print(group)
    return group[['x', 'y', 'z']].mean()

# Use groupby and apply
result = df.groupby('id').apply(process_curve)

   id  x  y   z
0   1  1  7  13
1   1  2  8  14
   id  x   y   z
2   2  3   9  15
3   2  4  10  16
   id  x   y   z
4   3  5  11  17
5   3  6  12  18

In [ ]:
# Connect the end points of lines that are within a threshold distance
# unique_combinations = df.drop_duplicates(subset=['r', 'g', 'b'])
# unique_combinations
# shape_starts = unique_combinations.index.tolist()
# print(shape_starts)

# The tricky bit is still the start and end of each shape - though the good news you have 
# multiple bits of information to identify them. You need to decide what to do at the end of each shape - join or jump
# First assign a shape ID to each line



# Case 1 - the start and end points of the line and its corresponding colour don't quite match up


# # Define the critical distance value
# critical_distance = 1.1

# # Find rows where distance_to_next is greater than the critical value
# greater_than_critical = df[df['distance_from_last'] > critical_distance]
# # greater_than_critical
# df.iloc[14:19]

# # Plot a histogram of the distances
# plt.hist(distances_no_nan, bins=10, edgecolor='black')
# plt.xlabel('Distance')
# plt.ylabel('Frequency')
# plt.title('Histogram of Distances Between Consecutive Points')
# plt.show()

# Display the rows that meet the condition
print(greater_than_critical)

            x         y    z    r    g    b  distance_to_next
2   -0.900000  0.000000  0.0  200    0    0          1.900000
4    0.639206 -0.316260  0.0    0  255    0          1.669435
35   0.900000  0.000000  0.0    0  255    0          1.562843
76   0.900000  0.000000  0.0    0  255    0          1.800000
102  0.284209  0.273008  0.0    0    0  255          1.215271
152  0.840359 -0.137222  0.0    0    0  255          1.528889

In [20]:
def determine_style(row):
    # capillaries
    if row['b'] > 0:
        return 2
    # venules
    elif row['g'] > 0:
        return 5
    # veins 
    elif row['r'] > 0:
        return 8 
    else:
        return 1

def thickness_to_radius(thickness):
    # Assuming radius is proportional to thickness
    return thickness / 2

# Apply determine_style to get thickness
df['thickness'] = df.apply(determine_style, axis=1)

# Convert thickness to radius3
df['radius'] = df['thickness'].apply(thickness_to_radius)

df['e'] = np.pi * df['radius']**2 * df['distance_to_next']

df

,x,y,z,r,g,b,distance_to_next,thickness,radius,e
0,0.900000,0.000000,0.0,200,0,0,NaN,8,4.0,NaN
1,1.000000,0.000000,0.0,200,0,0,0.100000,8,4.0,5.026548
2,-0.900000,0.000000,0.0,200,0,0,1.900000,8,4.0,95.504417
3,-1.000000,0.000000,0.0,200,0,0,0.100000,8,4.0,5.026548
4,0.639206,-0.316260,0.0,0,255,0,1.669435,5,2.5,32.779289
...,...,...,...,...,...,...,...,...,...,...
190,-0.087749,-0.012726,0.0,0,0,255,0.014130,2,1.0,0.044391
191,-0.100991,-0.006839,0.0,0,0,255,0.014491,2,1.0,0.045526
192,-0.114177,0.000032,0.0,0,0,255,0.014869,2,1.0,0.046712
193,-0.127244,0.007937,0.0,0,0,255,0.015272,2,1.0,0.047979
194,-0.140126,0.016929,0.0,0,0,255,0.015710,2,1.0,0.049356

In [21]:
def generate_gcode(df):
    gcode_lines = []

    # Define some starting commands if necessary
    gcode_lines.append("G21 ; Set units to millimeters")
    gcode_lines.append("G90 ; Absolute positioning")
    
    for index, row in df.iterrows():
        # Move to the start position
        gcode_lines.append(f"G0 X{row['x']} Y{row['y']} Z{row['z']} ; Move to start position")
        
        # Example of drawing or other operation
        # For simplicity, let's assume 'e' is used for setting extrusion or other properties
        gcode_lines.append(f"G1 E{row['e']} ; Set extrusion amount")
        
        # Move to another position or perform an action (for demonstration)
        gcode_lines.append(f"G1 X{row['x']+5} Y{row['y']} Z{row['z']} ; Move to another position")
    
    # Add end commands if necessary
    gcode_lines.append("M30 ; End of program")

    return "\n".join(gcode_lines)

# Generate the G-code
gcode = generate_gcode(df)

# Save to a file
with open("output.gcode", "w") as file:
    file.write(gcode)